
.container {
	display: flex;
	justify-content: center;
    font-family: 'EB Garamond', serif;
    font: normal 24pt 'EB Garamond';
}

.sub_title{
  font-family: 'EB Garamond', serif;
  font: normal 18pt 'EB Garamond';
  
}

.sub_sub_title{
  font-family: 'EB Garamond', serif;
  font: normal 14pt 'EB Garamond';
}

.b_text {
  font-family: 'Open Sans', sans-serif; 
  font: normal 14pt 'Open Sans';
}


.img_txt {
	align-items: flex-start;
	justify-content: space-between;
}

.projetos-menu {
    align-items: flex-start;
    text-align: center;
}

.img {
  width: 20%;
}

.sections-projetos {
    align-items: flex-end;
    display: flex; 
	margin-top: 4rem;
	justify-content: space-around;
	max-width: 100%
}

.texto {
	max-width: 50%
}

.projetos_outros-image {
	display: flex;
	width: 10rem;
	height: 10rem;
}