
.category-body {
  font-family: 'Open Sans', sans-serif; 

}



.category-title {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr;

}

.title{
  font-family: 'EB Garamond', serif;
  font: normal 24pt 'EB Garamond';
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.category-title-image {
  width: 100%;
  height: 110%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.description{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.projetos-menu {
  justify-content: center;
  text-align: center;
}

.projetos-menu-item {
  display: flex;
  justify-content: center;

}

.projetos-menu-item-image {
  width: 10rem;
  height: 12rem;

}

.projetos-menu-item-text {
  justify-content: space-between;

}

.categories-menu {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  
}

.categories-menu-item-image {
  width: 5rem;
  height: 6rem;
  
}

.categories-menu-item-text {
  justify-content: center;
}

.categories-menu-item-text {
  font-family: 'EB Garamond', serif;
  font: normal 14pt 'EB Garamond';
}