header {
	border-style: solid;
	border-width: 0.4rem;
	height: 7rem;
	width:95%;
	margin: 2%;
}
.logo {
	margin: 1rem ;
	width: 7rem;
	height:5rem;

}
.contato{
	margin: 1rem;
	width: 7rem;
	height:5rem;
	float: right;
	
}