.index-title {
  justify-content: center;
}

.sub-title{
  font-family: 'EB Garamond', serif;
  font: normal 20pt 'EB Garamond';
  color: #e00000;
}

.over_title{
  font-family: 'EB Garamond', serif;
  font: normal 32pt 'EB Garamond';
  color: #e00000;
}

.body {
	background-color: #e0dfd1;
}

.b_text{
  font-family: 'Open Sans', sans-serif; 
  font: normal 14pt 'Open Sans';
  color: #000000;
}
.parent{
  margin-top:3rem;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.child1,.child2,.child3,.child4{
  margin: 1rem;
  padding: 1rem;
  flex-basis: 10rem;
}

.child_image1,.child_image2,.child_image3,.child_image4{
  margin: 0.4rem;
  padding: 0.4rem
}

.child_text1,.child_text2,.child_text3,.child_text4{
  margin: 0.4rem;
  padding: 0.4rem;
  flex-basis: 10rem;
  text-align: left;
}

.descricao{
  font-family: 'Open Sans', sans-serif; 
  font: normal 13pt 'Open Sans';
  color: #000000;
  align-items: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 6;
  
}

.title{
  font-family: 'EB Garamond', serif;
  font: normal 24pt 'EB Garamond';
  color: #ff0000;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;

}

.img_title{
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.child1{
  border-style: solid;
  border-width: 2px; 
  border-radius: 20%;
  border-color: #e00000;  
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.child2{
  border-style: solid;
  border-width: 2px; 
  border-radius: 20%;
  border-color: #e00000;  
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
}

.child3{
  border-style: solid;
  border-width: 2px; 
  border-radius: 20%;
  border-color: #e00000;  
  text-align: left;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.child4{
  border-style: solid;
  border-width: 2px; 
  border-radius: 20%;
  border-color: #e00000;  
  text-align: left;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 6;
}
.footer {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  
.email {
    width: 2rem;
    margin-left: 2rem;
  }
  
.linked {
    width: 2rem;
    margin-left: 2rem;
}
.footer {
	height: -5%;
	width: 100%;
	display: flex;
	flex-direction: column;
  justify-content: space-around;
  background-color: #4d4c47;

}

.email {
	width: 2rem;
	margin-left: 2rem;
}

.linked {
	width: 2rem;
	margin-left: 2rem;
}
@media (max-width:64rem){

  .parent{
    margin-top:3rem;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr  ;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr ;
  }
  .img_title{
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 100%; 
  }
  title{
    font-family: 'EB Garamond', serif;
    font: normal 24pt 'EB Garamond';
    color: #ff0000;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .descricao{
    font-family: 'Open Sans', sans-serif; 
    font: normal 12pt 'Open Sans';
    color: #000000;
    align-items: center; 
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;
  } 
  .child1{
    border-width: 0px; 
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .child2{
    border-width: 0px; 
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .child3{
    border-width: 0px; 
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .child4{  
    border-width: 0px; 
    text-align: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer {
    height: -5%;
    width: 119%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4d4c47;

  }

}