
.body {
	background-color: #e0dfd1;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%
}

.titulo_pygame {
	margin-top: 1%;
	text-align: center;
	font-family: 'EB Garamond', serif;
    font: normal 32pt 'EB Garamond';
    color: #ff0000;
    margin-bottom: 5%;
}

.sub_title {
  font-family: 'EB Garamond', serif;
  font: normal 18pt 'EB Garamond';
  color: #000000;
  margin-bottom: 1rem;
}

.sub_sub_title{
  font-family: 'EB Garamond', serif;
  font: normal 18pt 'EB Garamond';
  color: #e00000;
}

.b_text_1 {

  font-family: 'Open Sans', sans-serif; 
  font: normal 18pt 'Open Sans';
  color: #000000;

}

.b_text_2 {
  font-family: 'Open Sans', sans-serif; 
  font: normal 14pt 'Open Sans';
  color: #000000;
  text-align: left;
}

.projetos-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 2rem;
	margin-left: 2rem;
	max-width: 100%
}

.itens-projeto {
	margin-top: 1rem;
	margin-right: 1rem;
	margin-left: 0.5rem;
}

.projetos-menu-img {
  width: 20rem;
}

.sections-projetos {
	display: flex;
	justify-content: flex-start;
	margin-top: 4rem;
	margin-left: 2rem;
}

.descricao {
	flex-direction: column;
	margin-top: 1rem;
	margin-left: 2.5rem;
	margin-bottom: 1rem;

}

.projetos_outros-image {
	display: flex;
	width: 10rem;
	height: 10rem;
	max-height: 10rem;
}


.footer {
	display: flex;
	height: -5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.email {
	display: flex;
	flex-direction: row;
	margin-left: 2rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.email1 {
	width: 2rem;
	margin-left: 0.5rem;
}

.linked {
	display: flex;
	flex-direction: row;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

.linked1 {
	width: 2rem;
	margin-left: 0.5rem;
}

@media (max-width: 68rem) {
	.body {
		width: 100%
	}
	.projetos-menu {
		display: flex;
		flex-direction: column;
	}
	.descricao {
		display: flex;
		


	}

	.sections-projetos {
		display: none;
	}

}