
.body {
	background-color: #e0dfd1;
}

.titulo_pygame {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.container {
	display: flex;
	justify-content: center;
    font-family: 'EB Garamond', serif;
    font: normal 24pt 'EB Garamond';
    color: #ff0000;
}

.sub_title{
  font-family: 'EB Garamond', serif;
  font: normal 18pt 'EB Garamond';
  color: #000000;
}

.sub_sub_title{
  font-family: 'EB Garamond', serif;
  font: normal 14pt 'EB Garamond';
  color: #e00000;
}

.b_text {
  font-family: 'Open Sans', sans-serif; 
  font: normal 14pt 'Open Sans';
  color: #000000;
}

.projetos-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2rem;

}

.projetos-menu-img {
  width: 20%;
}

.sections-projetos {
	display: flex;
	justify-content: flex-start;
	margin-top: 4rem;
}

.oi {
	display: flex;
}

.projetos_outros-image {
	display: flex;
	width: 10rem;
	height: 10rem;
}
